.source-connection {
    margin: 20px;
}

.empty-data-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-buttons {
    display: flex;
    gap: 10px;
}

.icon-buttons .ant-btn {
    border: none;
    background: transparent;
    color: #1890ff;
}

.icon-buttons .ant-btn:hover {
    color: #40a9ff;
}

.ant-table {
    margin-top: 20px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    text-align: left;
}

.ant-table-thead > tr > th {
    background-color: #f5f5f5;
}

.ant-table-tbody > tr > td {
    background-color: #fff;
}

.action-button {
    color: #1890ff;
}

.action-button:hover {
    color: #40a9ff;
}

.ant-table-tbody > tr.selected-row > td {
    background-color: #e6f7ff;
}

.rotate {
    transform: rotate(180deg);
}

.ant-modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.ant-modal-body {
    padding: 24px;
    font-family: Arial, sans-serif;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-input, .ant-select-selector {
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.ant-btn {
    border-radius: 4px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.ant-tree .ant-tree-node-content-wrapper {
    color: #1890ff; /* 将节点文字颜色改为蓝色 */
}

.ant-tree .ant-tree-node-content-wrapper:hover {
    color: #40a9ff; /* 将节点在鼠标悬停时的文字颜色改为浅蓝色 */
}
